<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.0/build/pure-min.css">
  <title>College Sidekick</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>


  <div class="fourth">
    <div class="inner-content, mid">
      <div class="content-title-large">Request Sent</div>
      <div class="split-picture-container">
        <div class="marketing-text-confirm">A team member will reach out soon to discuss your request details</div class="marketing-text">
      </div>
    </div>
  </div>

</body>
</html>
