<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.0/build/pure-min.css">
  <title>College Sidekick</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <header class="marketing-header">
      <img class="logo" src="http://res.cloudinary.com/ashcon/image/upload/v1479192565/college_sidekick/Logo.png"/>
      <ul class="marketing-navigation">
        <li class="menu-item">
          <a class="top-link" href="#about">About</a>
        </li>
        <li class="menu-item">
          <a class="top-link" href="#tour">Tour</a>
        </li>
        <li class="menu-item">
          <a class="top-link" href="#join">Join</a>
        </li>
      </ul>
    </header>

  </div>

  <div class="image">
    <img class="bgpic" src="http://res.cloudinary.com/ashcon/image/upload/v1481051426/college_sidekick/s60knhjcaao-joshua-earle.jpg"/>
    <h2><span>College students with honest opinions</span></h2>
  </div>

  <a id="about">
    <div class="first">
      <div class="inner-content">
        <div class="content-title">What is a Sidekick?</div>
        <div class="split-text-container">
          <div class="body-third">
            <img class="icon" src="http://res.cloudinary.com/ashcon/image/upload/v1481156918/college_sidekick/college_logo.png"/>
            <div class="marketing-text">An experienced college student giving you personal insights into their school</div class="marketing-text">
          </div>
          <div class="body-third">
            <img class="icon" src="http://res.cloudinary.com/ashcon/image/upload/v1481156782/college_sidekick/football.png"/>
            <div class="marketing-text">They have eaten at the dining hall, can list their favorite courses, and know what happens on the weekends</div class="marketing-text">
          </div>
          <div class="body-third">
            <img class="icon" src="http://res.cloudinary.com/ashcon/image/upload/v1481151429/college_sidekick/search.png"/>
            <div class="marketing-text">They are your personal resource for helping you decide which college is the perfect fit for you.</div class="marketing-text">
          </div>
        </div>
      </div>
    </div>
  </a>

  <div class="second">
    <img class="vspic" src="http://res.cloudinary.com/ashcon/image/upload/v1481138242/college_sidekick/Screen_Shot_2016-12-07_at_11.15.33_AM.png"/>
  </div>


  <div class="third">
    <div class="inner-content, mid">
      <div class="content-title-large">Nearby?</div>
      <div class="split-picture-container">
        <div class="marketing-text-large">Take an on campus guided tour with a Sidekick</div class="marketing-text">
        <div class="marketing-text">$30/hr</div class="marketing-text">
      </div>
    </div>
  </div>

  <div class="fourth">
    <div class="inner-content, mid">
      <div class="content-title-large">Far Away?</div>
      <div class="split-picture-container">
        <div class="marketing-text-large">Video chat a sidekick</div class="marketing-text">
          <div class="marketing-text">$25/hr</div class="marketing-text">
      </div>
    </div>
  </div>

  <a id="tour">
    <div class="fifth">
      <div class="inner-content">
        <div class="content-title">Request a Sidekick!</div>
        <div class="center-form">
          <form class="pure-form pure-form-stacked">
            Colleges/Universities of Interest:<br>
            <textarea ></textarea><br>

            First name:<br>
            <input type="text" name="firstname"><br>

            Last name:<br>
            <input type="text" name="lastname"><br>

            Email:<br>
            <input type="email" name="email"><br>

            Phone Number:<br>
            <input type="tel" name="phone"><br>

            <input type="submit" value="Submit">
          </form>
        </div>
      </div>
    </div>
  </a>

  <a id="join">
    <div class="sixth">
      <div class="inner-content">
        <div class="content-title">Apply to be a Sidekick!</div>
        <div class="center-form">
          <form class="pure-form pure-form-stacked">
            College/University Name:<br>
            <input type="text" name="college"><br>
            Your status for 2015/2016:<br>
            <select>
              <option value="Freshman">Freshman</option>
              <option value="Sophomore">Sophomore</option>
              <option value="Junior">Junior</option>
              <option value="Senior">Senior</option>
            </select><br>
            Major:<br>
            <input type="text" name="major"><br>
            First name:<br>
            <input type="text" name="firstname"><br>
            Last name:<br>
            <input type="text" name="lastname"><br>
            Email:<br>
            <input type="email" name="email"><br>
            Phone Number:<br>
            <input type="tel" name="phone"><br>
            <input type="submit" value="Submit">
          </form>
        </div>
      </div>
    </div>
  </a>

</body>
</html>
