@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == 'vh', 'height', 'width');
  $min-breakpoint: $min / $responsive-unitless * 100;

  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }

  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;

    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }

  @if $fallback {
    font-size: $fallback;
  }

  font-size: $responsive;
}


body {
  background-image: url(http://res.cloudinary.com/ashcon/image/upload/v1479184631/college_sidekick/sayagata-400px.png);
  line-height: 1;
  margin: 0;
  height: 100%;
  /*background: #f0f7f5;
  background-size: 550px 550px;*/
  font-family: 'Roboto', sans-serif;
  color: #777f81;
}

.marketing-logo {
    background: url(http://res.cloudinary.com/ashcon/image/upload/v1479192565/college_sidekick/Logo.png) no-repeat;
    margin-right: 40px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.marketing-navigation {
  display: flex;
  justify-content: space-between;
  width: 250px;

}

.top-link {
  font-family: 'Roboto', sans-serif;
  color: #CD5360;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.container {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  width: 73%;
  padding-top: 30px;
  padding-bottom: 30px;
  /*height: 450px;*/
}

.content-container {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  width: 70%;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 250px;
}

.inner-content {
  position: relative;
  max-width: 80%;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 20px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


ol, ul {
    list-style: none;
}

a {
  text-decoration: none;
}

.marketing-text {
  font-size: 2.7vw;
  padding-bottom: 5%;
}
.marketing-text-large {
  @include responsive-font(5vw, 25px, 35px);
  padding-bottom: 5%;
}
.marketing-text-confirm {
  font-size: 3.5vw;
  padding-bottom: 5%;
  text-align: center;
  width: 85%;
}

.split-text-container {
  display: flex;
  flex-direction: column;
}


.split-picture-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.content-title {
  @include responsive-font(8vw, 35px, 80px);

  text-align: center;
  color: white;
  font-size: 8vw;
  margin-bottom: 30px;
  }

.content-title-large {
  @include responsive-font(8vw, 35px, 100px);
  text-align: center;
  color: white;
  font-size: 11vw;
  margin-bottom: 20px;
}

.logo {
  height: 9vw;
}


.bgpic {
  width: 100%;
}
.vspic {
  width: 100%;
  max-width: 1000px;
  padding: 2vw;
  height: 100%;
}

.icon {
  width: 6vw;
  height: 5%;
  padding-right: 2vw;
}
.image {
   position: relative;
   width: 100%; /* for IE 6 */
}

h2 {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    font-size: 3.8vw;
}

h2 span {
    color: white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: -1px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    letter-spacing: 2.5px;
}

.first {
  background-color: rgba(21, 29, 10, 0.56);
  height: 100vh;
  display: flex;
  align-items: center;

  /*opacity: .9;*/
}
.second {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;
}
.third {
  background-color: #F24C4E;
  height: 100vh;  /*opacity: .5;*/
}
.fourth {
  background-color: #1FB58F;
  height: 100vh;  display: flex;
  flex-direction: column;
  justify-content: center;
}
.fifth {
  background-color: #dea824;
  height: 100vh;
  display: flex;
  align-items: center;
}
.sixth {
  background-color: #b5a389;
  height: 100vh;
  display: flex;
  align-items: center;
}

div {
  color: white;
}

.body-third {
  display: flex;
  color: white;
}

.mid {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.center-form {
  display: flex;
  justify-content: space-around;
}

input {
  width: 300px;
}

textarea {
  height: 100px;
}

.submit-button {
  width: 10px;
}



button {
  width: 100px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #09C;
  color: #fff;
  font-family: Tahoma, Geneva, sans-serif;
  height: 30px;
  border-radius: 15px;
  border: 1p solid #999;
}

input.button:hover {
  background: #fff;
  color: #09C;
}

form {
  width: 300px;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

input {
  width: 146px;
  border-radius: 5px;
  /*background-color: purple;*/
}

.error {
  background-color: white;
  color: red;
  padding: 1vw;
  font-size: 2.5vw;
  border-radius: 13px;
  font-weight: bold;
}











/* Forms Reset
--------------------------------------------- */
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
	border-color: #e0e0e0;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
	border-width: 1px;
	border-style: solid;
	color: #474e57;
	font-size: 16px;
	font-weight: 400;
	padding: 10px;
	width: 100%;
}

input[type="color"]:hover,
input[type="date"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="email"]:hover,
input[type="month"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="text"]:hover,
input[type="time"]:hover,
input[type="url"]:hover,
input[type="week"]:hover,
textarea:hover, select:hover {
	border-color: #e0e0e0;
}

input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
textarea:focus, select:focus {
	border-color: #adadad;
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(160, 160, 160, 0.7);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(160, 160, 160, 0.7);
	outline: none;
}

input[type="color"] {
	padding: 5px;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #c7c7c7;
	opacity: 1;
	font-weight: 400;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
	color: #c7c7c7;
	opacity: 1;
	font-weight: 400;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	color: #c7c7c7;
	opacity: 1;
	font-weight: 400;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #c7c7c7;
	opacity: 1;
	font-weight: 400;
}

input::placeholder,
textarea::placeholder {
	color: #c7c7c7;
	opacity: 1;
	font-weight: 400;
}

#submit-form {
  background-color: red;
  background-color: rgba(76,175,80,1);
  text-align: center;
  border-color: transparent;
}
