<!DOCTYPE html>
<html>
<head>
  <title>College Sidekick</title>
  <meta name="google-site-verification" content="RPZe9dZRhcTOekAlYOpbnHBAVDhJ4kXuOGdlUSLbKBQ" />
  <link rel='shortcut icon' href='http://res.cloudinary.com/ashcon/image/upload/v1481857166/college_sidekick/favicon.ico' type='image/x-icon'/>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= yield %>

</body>
</html>
